<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/text_analysis_style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Text Analysis</h1>
        <form id="text-analysis-form" method="post" action="{% url 'text_analysis' %}">
            {% csrf_token %}
            <label for="user-text">Enter your text:</label>
            <textarea id="user-text" name="user_text" rows="4" cols="50" required></textarea>
            <br><br>
            <input type="submit" value="Analyze Text">
        </form>
        <label id="display-text">Your present emotion will appear here...</label>
    </div>

    <script>
        document.getElementById('text-analysis-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const userText = document.getElementById('user-text').value;
            document.getElementById('display-text').innerText = 'You entered: ' + userText;

            fetch('{% url "text_analysis" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ user_text: userText })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.message) {
            document.getElementById('display-text').innerText = 'Analysis Result: ' + data.text;
        } else {
            console.error('Unexpected JSON format:', data);
        }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
